.profile-image {
    border-radius: 80px;
}

#openButton {
    display: flex;
    left: 70px;
    bottom: 34px;
    position: relative;
}

.received-btn {
   margin-left: 2%;
}

.teamButtons {
    padding-bottom: 50px;
}

.teamButtons button {
    background-color: #4682B4;
    border: 1px solid black;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
  }

  .teamButtons button:hover {
    background-color: rgb(168, 168, 255);
    border: 1px solid black;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
  }